<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero cumque facere error temporibus perferendis, dicta reiciendis ipsam corporis. Et ipsum optio eaque hic nostrum, fugit fuga saepe eum. Saepe provident minus consequuntur officia nemo magni tempora similique harum voluptatem quibusdam, eaque voluptate dolorum, porro aperiam amet. Alias, ipsam dolores. Mollitia.</p>
<%- include("footer") -%>